%html
  %head
  %body
    %p Hiya,
    %p 
      Thanks for being my #{@job.job_type.name}!
    %p  
      I'll see you on
      %b
        #{@job.date.strftime("%b %d")} 
        - if @job.work_unit.hours < 23
          at #{@job.time.strftime("%I:%M%P")} 
    %p
      See you then!
      %br
      = @job.user.name
      
