%p
  Hi,

%p
  Join my exclusive circle of trusted friends I have set up to exchange petsitting, babysitting and general favors (cup of flour?). 

%p= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token)

%p
  <find out more - track email token invite so they go to what we are page that knows this is via a button and has an "join" button on it which tracks if there is an invite email/friend or no invite/email friend>

%p
  Yay!

%p
  #{@resource.invited_by}
