%html
  %head
  %body
    %p 
      #{@user.first_name},
    %p
      #{@new_user} accepted your invitation on PoppyGo. You can now do favors for each other.
    %p
      Enjoy! 
    %p
      PoppyGo Team