%html
  %head
  %body
    %p 
      #{@new_user.first_name},
    %p
      #{@user} added you on PoppyGo. 
      %a{:href => user_add_member_to_circle( :id => @user.id, :only_path => false ), :method=>:post } Add #{@user} to your circle.
    %p
      Thanks! 
    %p
      PoppyGo Team