- content_for:title, @user.name
  
%ul.subnav#subnav
  %li.first#upcoming
    Scheduled
  %li.on#friends_req
    Friends Req
  %li.last#open_req
    Open Req

- unless @user.upcoming_jobs.empty?
  %section#upcoming_list.listing
    %ul
      - @user.upcoming_jobs.each do |job|
        %li
          = render "job_listing", :job => job, :view => "upcoming"

- unless @user.potential_jobs.empty?
  %section#friends_req_list.listing.on
    %ul
      - @user.potential_jobs.each do |job|
        %li
          = render "job_listing", :job => job, :view => "friends_req"
              
- unless @user.future_open_jobs.empty?
  %section#open_req_list.listing
    %ul
      - @user.future_open_jobs.each do |job|
        %li
          = render "job_listing", :job => job, :view => "open_req"
            

        