- content_for:title, "Facebook friends"

%section
  %h2 Facebook friends
  %ul
  - @friends.each do |friend|
    %li 
      #{friend.installed}
      - if friend.installed
        - local_user = find_user_from_facebook( :uid => friend.identifier )
        - if local_user
          =link_to local_user.name, local_user
      - else
        #{friend.name}
      %img{:src => "#{friend.picture}"}
