@import mixins
/* ----- SimpleForm Styles -----
.simple_form  
  padding: 0
  overflow: auto
  overflow: visible
  div.input
    margin-bottom: 10px
  .actions
    overflow: auto
    input
      float: right
  div.field_with_errors
    background: none 
    input
      background: rgba(255,0,0,.1)
    .error
      text-transform: capitalize
      color: red
  .hide
    display: none
  input[type=submit]
    @include rounded(.2em)
    @include gradient-bg($color_cool_light,$color_cool)
    text-align: center
    font-family: $font_title
    font-size: 2em
    padding: .5em
    border: 1px solid $color_cool
    color: #fff
    text-shadow: rgb(56, 101, 112) 0 1px 0
    text-shadow: rgba(56, 101, 112,.8) 0 1px 0
    &:active
      box-shadow: inset 0px -1px 1px rgba(255, 255, 255, 1), inset 0 0px 2px rgba(0, 0, 0, 0.9)
    &:hover
      opacity: .9

.madlibs      
  overflow: visible
  font-size: 4em
  letter-spacing: .05em
  font-family: $font_title
  line-height: 1em
  div.input
    display: inline-block
  label
    display: none               
  input
    display: inline-block
    overflow: hidden
    width:auto
  input,textarea
    margin-top: 4px
    border: none
    background: none
    border-bottom: 1px dashed #c2c2c2
    font-size: inherit
    font-family: inherit    
    color: $color_cool
  /* ----- good defaults for non-JS or mobile    
  select
    border: none
    background: none
    font-family: adelle
    font-size: 1em
    color: #21759B
    border-bottom: 1px dashed #c2c2c2    
  option
    font-family: adelle
    font-size: 1em
    border: none
  .input
    position: relative
  .hint
    position: absolute
    left: 0
    top: .23em
    opacity: .3
    white-space: nowrap


  .custom_select
    height: 40px
    display: inline-block
    position: relative
    ul    
      position: absolute
      top: 0
      left: -10px
      z-index: 1
      &.lit
        box-shadow: 0 0 2px 2px rgb(200,200,200)
        z-index: 2
      li
        list-style-type: none
        cursor: pointer
        &.option
          z-index: 1
          padding: 0
          margin: 0
          display: none
          background-color: transparent
          border-bottom: 1px dashed #c2c2c2
        &.current
          display: block
        a
          display: inline-block
          text-decoration: none
          font-size: 4em
          letter-spacing: .05em
          font-family: $font_title
          line-height: .7em
          padding: 10px
          white-space: nowrap
          color: $color_cool
          min-height: 40px
          min-width: 50px
          outline: none
        a:hover
          background: none
          color: inherit
        &.option a
          
      &.lit li 
        background-color: #eee
        border: none
        &:hover 
          background-color: #ccc




.tester
  position: absolute
  visibility: hidden
  height: auto
  width: auto