@import mixins
/* ----- SimpleForm Styles -----
.simple_form  
  padding: 0
  overflow: auto
  overflow: visible
  div.input
    margin-bottom: 10px
  .actions
    overflow: auto
    input
      float: right
  div.field_with_errors
    background: none 
    input
      background: rgba(255,0,0,.1)
    .error
      text-transform: capitalize
      color: red
      position: absolute
      margin-top: -22px
      margin-left: 1em
  .hide
    position: absolute
    visibility: hidden
  .alert
    color: red
    font-weight: red
  .checkbox
    display: block
    width: auto
    clear: left
    
  .inputs 
    label
      display: none
    input[type=hidden]
      display: none
    input[type=text],input[type=email],input[type=password]
      @include rounded(.3em)
      padding: 1em
      border: 1px solid $color_cool
      
input[type=submit], .button
  @include rounded(.2em)
  @include gradient-bg(lighten($color_button,10%),$color_button)
  text-align: center
  font-family: $font_title
  font-weight: 300
  font-size: 2em
  padding: .5em
  margin: .2em
  float: left
  border: 1px solid $color_cool
  color: $form_color
  text-shadow: rgba(56, 101, 112,.8) 0 1px 0
  white-space: nowrap
  &:active
    box-shadow: inset 0px -1px 1px rgba(255, 255, 255, 1), inset 0 0px 2px rgba(0, 0, 0, 0.9)
  &:hover
    opacity: .9

.button, body #main-container a.button
  color: $form_color!important
  text-decoration: none

a.button.small
  font-size: 1em
  
.madlibs      
  color: $form_color
  opacity: 0
  overflow: visible
  font-size: 3.5em
  letter-spacing: .05em
  font-family: $font_title
  font-size-adjust: 0.516
  font-weight: 200
  font-style: normal
  line-height: 1em
  div.input
    display: inline-block
  label
    display: none               
  input
    display: inline-block
    overflow: hidden
    width:auto
  input,textarea
    margin-top: 4px
    border: none
    background: none
    border-bottom: 1px dashed #c2c2c2
    font-size: inherit
    font-weight: inherit
    font-family: inherit    
    color: $color_link
  textarea
    margin-top: 1em
    width: 100%
  /* ----- good defaults for non-JS or mobile    
  select
    -webkit-appearance: listbox
    border: none
    background: none
    font-family: $font_title
    font-size: 1em
    color: #21759B
    border-bottom: 1px dashed #c2c2c2
    padding: 0 
    @include transition(width,200)      
    option  
      font-family: $font_title
      font-size: inherit
      border: none
      padding: 0
      background: none
  .input
    position: relative
  .hint
    position: absolute
    left: 0
    top: .23em
    opacity: .3
    white-space: nowrap

  .custom_select
    @include transition(width,200)
    height: 40px
    display: inline-block
    position: relative
    ul    
      position: absolute
      @include transition(top,200)
      padding: 0
      margin: 0
      top: 0
      left: -10px
      margin-top: -15px
      z-index: 1
      &.touchable
        @include transition(top,200)
      &.lit
        @include transition(top,200)
        box-shadow: 0 0 2px 2px #444
        z-index: 2
      &.touchable.lit
        @include transition(top,0)      
      li
        list-style-type: none
        cursor: pointer
        &.option
          z-index: 1
          padding: 0
          margin: 0
          display: none
          background-color: transparent
          border-bottom: 1px dashed #c2c2c2
        &.current
          display: block
        a
          display: inline-block
          text-decoration: none
          font-size: 100%
          font-family: $font_title
          line-height: 100%
          padding: .15em .2em        
          white-space: nowrap
          color: $color_link
          min-height: 40px
          min-width: 50px
          outline: none
        a:hover
          background: none
          color: inherit
        &.option a
          
      &.lit li 
        background-color: lighten($color_cool,70%)
        border: none
        &:hover 
          background-color: lighten($color_cool,40%)
        a
          color: $color_hot

/* Smartphones (portrait and landscape) -----------
@media only screen and (min-width : 320px) and (max-width : 569px)
  .madlibs
    font-size: 170%    
    line-height: 100%
    input,textarea
      border-width: 0 0 1px 0
      background: none
    select, input
      margin: 0
      padding: 0
      overflow: hidden
      color: $color_link
    .custom_select ul
      margin-top: 8px
      left: -5px
  .actions input.btn
    font-size: 1.4em
  
.tester
  position: absolute
  display: block
  visibility: hidden
  height: auto
  width: auto
  top: 0
  left: 0
  padding: 10px