@import mixins
/* ----- SimpleForm Styles -----
.simple_form  
  padding: 15px
  overflow: auto
  overflow: visible
  div.input
    margin-bottom: 10px
  .actions
    float: right
  div.field_with_errors
    background: none 
    input
      background: rgba(255,0,0,.1)
    .error
      text-transform: capitalize
      color: red
    
.madlibs      
  overflow: visible
  font-size: 4em
  letter-spacing: .05em
  font-family: "Adelle Light", Georgia, serif
  line-height: 1em
  div.input
    display: inline-block
  label
    display: none               
  input
    display: inline-block
    overflow: hidden
    width:auto
  input,textarea
    margin-top: 4px
    border: none
    background: none
    border-bottom: 1px dashed #c2c2c2
    font-size: inherit
    font-family: inherit    
    color: #21759B
  input:focus,textarea:focus
    background-color: #fff

  .custom_select
    height: 40px
    display: inline-block
    position: relative
    ul    
      position: absolute
      top: 0
      left: -10px
      z-index: 1
      &.lit
        box-shadow: 0 0 2px 2px rgb(200,200,200)
        z-index: 2
      li
        list-style-type: none
        cursor: pointer
        &.option
          z-index: 1
          padding: 0
          margin: 0
          display: none
          background-color: transparent
          border-bottom: 1px dashed #c2c2c2
        &.current
          display: block
        a
          display: inline-block
          text-decoration: none
          font-size: 4em
          letter-spacing: .05em
          font-family: "Adelle Light", Georgia, serif
          line-height: .8em
          padding: 0 10px 10px 10px
          white-space: nowrap
          color: #21759B
        a:hover
          background: none
          color: inherit
        &.option a
          
      &.lit li 
        background-color: #eee
        border: none
        &:hover 
          background-color: #ccc

