
@import "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css"
@import mixins
  
body, p, ol, ul, td 
  font-family: $font_text
  color: $text_color
body #main-container a
  color: $color_link!important
h1
  font-family: $font_title
  font-style: normal
  font-weight: normal

header 
  h1
    font-size: 150%
    margin: .4em 0
    text-align: left!important
    font-weight: 1400
    a
      text-decoration:none
    span
      text-align: right
      font-size: 50%
      text-transform: uppercase
      color: darken($color_cool,20%)
  #title a
    font-weight: 600

section
  clear: both
  padding: 1em 0
    
nav li
  float: left
  padding: 0
  margin: .3em 0 0 0
  a
    background: none
    padding: .2em
    margin: 0
    font-weight: normal
    color: $color_link
    &:hover
      text-decoration: underline
      color: lighten( $color_link, 20% )
h3
  font-size: 2em
  font-weight: bold

article 
  p, a
    font-size: 1.5em
  h1
    font-size: 100%
    font-weight: bold
    text-transform: uppercase    

p,td
  font-size: 120%

table
  width: 100%
  th
    border-bottom: 1px dashed #aaa

aside 
  section
    padding: 0
  ul
    padding: 0
  li
    list-style: none
    padding: 0
    margin: 0
  li, h3, p
    color: lighten($color_cool,70%)
    

.no_aside #main article
  width: 100%

#messaging
  margin: 0 10em
  @include gradient-bg($color_special,lighten($color_special,10%))
  box-shadow: 0 5px 10px #444
  padding: .2em 1em
  border: 1px solid #ccc
  font-size: .9em
  .flash
    color: #333

nav.tabs
  float: none
  display: block
  border-bottom: 1px solid #ddd
  height: 34px
  margin: 1em 0
  overflow: auto
  ul
    position: absolute
    overflow: auto
  li
    a
      line-height: 27px
      background: #ddd
      border: 1px solid #ddd
    &.on a
      font-weight: bold
      background: #fff
      border-bottom: 1px solid #fff

/* ===================
 *  Theme
 * ===================

#header-container
  border-bottom: 2px solid darken($color_cool,10%)

#footer-container, #main aside
  border-top: 2px solid darken($color_cool,10%)
  overflow: auto
  nav li a
    padding: 0

#header-container, #footer-container, #main aside
  background: darken($color_cool,0%)

#header-container 
  header a
    background: none
    color: lighten($color_cool,40%)
    &:hover
      color: lighten($color_cool,70%)
  #title 
    span
      color: lighten($color_cool,70%)
    a
      color: lighten($color_hot,0%)
      text-decoration: none

body
  background-color: lighten($color_cool,50%)  
  background-image: image-url("shared/body-background.png")

::-moz-selection
  background: darken($color_cool,100%)
  color: #fff
  text-shadow: none 
::selection
  background: darken($color_cool,100%)
  color: #fff
  text-shadow: none 
  
/* Smartphones (portrait and landscape) -----------
@media only screen and (min-width : 320px) and (max-width : 569px)
  body
    width: 320px
  #messaging
    margin: 0 2em
    box-shadow: none
  footer h3
    clear: both
  header #title span
    float: right
