
@import "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css"
@import mixins
  
body, p, ol, ul, td 
  font-family: $font_text

h1
  font-family: $font_title
  font-size: 200%
  font-style: normal
  font-weight: normal

p,td
  font-size: 120%

table
  width: auto
  box-shadow: 0 0 2px 2px rgb(200,200,200)
  th
    border-bottom: 1px dashed #aaa
  tr:nth-child(even) td
    background-color: lighten($color_cool,70%)  
  tr:nth-child(odd) td
  background-color: lighten($color_cool,60%)  

.no_aside #main article
  width: 100%
           
/* ===================
 *  Theme
 * ===================

#header-container
  border-bottom: 20px solid darken($color_cool,10%)

#footer-container, #main aside
  border-top: 20px solid darken($color_cool,10%)

#header-container, #footer-container, #main aside
  background: lighten($color_cool,50%)

nav li a
  background: $color_cool

#title
  color: white

::-moz-selection,::selection
  background: darken($color_cool,100%)
  color: #fff
  text-shadow: none
