
@import "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css"
@import mixins
  
body, p, ol, ul, td 
  font-family: $font_text

h1
  font-family: $font_title
  font-size: 200%
  font-style: normal
  font-weight: normal

article h1
  font-size: 100%!important
  font-weight: bold
  text-transform: uppercase

p,td
  font-size: 120%

table
  width: 100%
  th
    border-bottom: 1px dashed #aaa

aside 
  li, h3
    color: darken($color_cool,20%)

.no_aside #main article
  width: 100%
           
/* ===================
 *  Theme
 * ===================

#header-container
  border-bottom: 20px solid darken($color_cool,10%)

#footer-container, #main aside
  border-top: 20px solid darken($color_cool,10%)

#header-container, #footer-container, #main aside
  background: lighten($color_cool,50%)

nav li a
  background: $color_cool

#title
  color: white

::-moz-selection,::selection
  background: darken($color_cool,100%)
  color: #fff
  text-shadow: none

.questions
  font-family: $font_title
  font-size: 100%  
