//$font_title: "adelle","Cambria","Georgia","Times","Times New Roman",serif
//$font_text: "droid-sans","Helvetica Neue",Helvetica,Arial,sans-serif
$font_title: "Adelle Light", Georgia, serif
$font_text: "Proxima Nova Regular", 'Helvetica Neue', Arial, Helvetica, sans-serif
$color_link: #21759B
$color_hot: #E04A54
$color_hot_light: #FF841F
$color_cool: #7D717D
$color_cool_light: #53a8CF
$color_facebook: #3B5998
$color_special: #FFF9B1
$color_special_light: #5CC0DD
$color_special_border: #41646F
$color_accept: #8AB902
$color_cancel: #BC4029
$width_container: 960px

@mixin rounded($radius:10px) 
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  border-radius: $radius
@mixin gradient-bg($start, $end)
  background-color: $end
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($start), to($end))
  background-image: -webkit-linear-gradient(top, $start, $end)
  background-image: -moz-linear-gradient(top, $start, $end)
  background-image: -ms-linear-gradient(top, $start, $end)
  background-image: -o-linear-gradient(top, $start, $end)

@mixin transition($sec, $type:opacity)
  -webkit-transition: $type $sec+s
  -moz-transition:$type $sec+s
  -o-transition:$type $sec+s

@mixin edged($width:10)
  box-shadow: 0 0 0 $width+px rgb(0,0,0)
  box-shadow: 0 0 0 $width+px rgba(0,0,0,0.3)
  @include rounded(4px)

@mixin opacity($perc)
  opacity: $perc
  filter: alpha(opacity=$perc*100)

@mixin rgba($r,$g,$b,$a)
  $color: rgb($r,$g,$b)
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='" + $color + "', endColorstr='" + $color + "')
