// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.facepile 
  li
    width: 210px
    height: 70px
    overflow: visible
    float: left
    list-style: none
    line-height: 1em
    margin: 0 10px 10px 0
    box-shadow: 0 1px 2px #aaaaaa
    img 
      float: left
      margin: 0 10px 10px 0
    span
      display: block
    input[type=submit]
      font-size: .8em
      padding: .2em
