@import mixins
// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.facepile 
  li
    width: 210px
    height: 70px
    overflow: visible
    float: left
    list-style: none
    line-height: 1em
    margin: 0 10px 10px 0
    box-shadow: 0 1px 2px #aaaaaa
    img 
      float: left
      margin: 0 10px 10px 0
    span
      display: block
    input[type=submit]
      font-size: .8em
      padding: .2em

.signin 
  width: 18em
  margin: 0 auto
  form
    input[type=text],input[type=email],input[type=password]
      width: 91%
  //
    .facebook
      font-size: 95%
      width: 20em
      overflow: auto
      margin: 0 auto
      margin-bottom: 1em
      padding-bottom: 1em
      border-bottom: 1px solid #ddd
      .button
        @include gradient-bg(lighten($color_facebook,10%),$color_facebook)
        color: #fff 
        float: left
        font-size: 1.8em
        line-height: 1em
        text-decoration: none
        font-family: $font_text
      
#users-dashboard
  #main
    padding: 0
    margin: 0
    width: 100%
  .listing
    padding: 0
    margin: 0
    display: none
    font-size: .9em
    line-height: 1.2em
    border-bottom: 1px solid #C4AD84
    li
      padding: 5px
      background: #F3F1ED
      border-top: 1px solid #C4AD84
    .thumb
      float: left
      margin: 10px
    .detail
      display: none
    .who
      font-weight: bold
    .when
      color: $color_link
    .actions
      width: 80px
      float: right
    > p
      padding: 10px
  section.listing.on
    display: block
    
  
