%p
  Hi #{@resource.first_name},

%p
  Join my exclusive circle of trusted friends I have set up to exchange petsitting, babysitting and general favors (cup of flour?). 

%p= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token)

%p
  Yay!

%p
  #{@resource.invited_by}
